@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#container2 {
  width: 100%;
  padding: 5% 5% 2%;
  /* background-color: #030305; */
  /* background-color: gainsboro; */

  /* background: rgb(141, 106, 219);
    background: linear-gradient(
      228deg,
      rgba(141, 106, 219, 0.9893207282913166) 0%,
      rgba(75, 57, 112, 1) 23%,
      rgba(121, 81, 204, 1) 41%,
      rgba(107, 46, 237, 1) 100%
    ); */
  background-color: #211f23;
  background-image: linear-gradient(to bottom, #5d0000, #53308b, #04020f);
  color: white;
  position: relative;
}

.cont-slider-text {
  display: flex;
  justify-content: space-between;
}
.cont-slider-text h1 {
  /* color: #f1683a; */
  font-size: 3vw;
  font-weight: 600;
}
#container2 .cont-slider-text button {
  margin: 0.25vw 0;
  font-size: 1.1vw;
  border-radius: 2vw;
  padding: 0.1vw 1.2vw;
  background-color: white;
  border: 4px solid #f1683a;
}
#bestseller {
  display: flex;
  align-items: center;
  /* background-color: red; */
  height: 90vh;
  padding-top: 2%;
}
#bestseller .slideImg {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 20vw;
  border-radius: 0.5vw;
}
#bestseller .slideImg img {
  transition: all ease 0.5s;
  width: 100%;
  height: 100%;
}
#bestseller .slideImg img:hover {
  transform: scale(1.2);
}
#bestseller .slideText {
  padding-top: 1.5vh;
  min-height: 135px;
  font-size: 1.2vw;
  /* background-color: red; */
}
#bestseller .slideText p:nth-child(1),
#bestseller .slideText p:nth-child(2) {
  padding-top: 1.5vh;
  font-weight: bold;
}

#bestseller .cont2-btn button {
  font-weight: bold;
  font-size: 1.05vw;
  font-family: "Poppins", sans-serif;
  outline: none;
  background: #8800ff;
  color: #eee;
  border-radius: 0.3vw;
  padding: 1vw 1.1vw;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border: 2px solid #8800ff;
}
#bestseller .cont2-btn button:hover {
  color: #8800ff;
  background: #eee;
  border-radius: 0.5vw;
}
