#container3 {
  width: 100%;
}
#cont3-bgimg{
  position: absolute;
  width: 100%;
  height: 120vh;
  background: url(../Images/bg-4.webp);
  background-size: cover;
  z-index: -1;
}
#cont3-data{
  padding: 5% 10%;
}
#cont3-data h1 {
  /* color: white; */
  font-size: 3vw;
  font-weight: 600;
}
#cont3-data .category-item {
  margin-top: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}
#cont3-data .category-item .item {
  width: 28%;
  height: 80vh;
}
#cont3-data .item-div {
  overflow: hidden;
  height: 85%;
  border-radius: 3vw;
}
#cont3-data .category-item .item .item-div {
  box-shadow: 10px 10px 25px 10px rgb(153, 153, 153);
}
#cont3-data .category-item .item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all ease 0.8s;
}
#cont3-data .category-item .item img:hover {
  transform: scale(1.1);
  /* background: linear-gradient(to bottom, #ccccff 0%, #8355e5 100%); */
  /* background-color: cadetblue; */
}
#cont3-data .category-item .item a:hover {
  /* transform: scale(1.1); */
  background: linear-gradient(to bottom, #ccccff 0%, #8355e5 100%);
  /* background-color: cadetblue; */
}
#cont3-data .category-item .item p {
  /* color: white; */
  font-size: 1.5vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5vw 1vw;
}
