@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
header {
  position: fixed;
  margin-top: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rebeccapurple; */
  height: 8vh;
  width: 100%;
  z-index: 100;
}
nav {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #eee;
  width: 100%;
  max-width: 90%;
  background: rgba(255, 0, 0, 0.049);
  box-shadow: 1px 1px 33px 0 rgba(0, 0, 0, 0.708);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  border: none;
  padding: 0 0.5vw;
  font-family: "Poppins", sans-serif;
  /* for making navbarhidden after scroll */
  transition: all ease-in-out 0.2s;
  animation: NavbarHidden linear forwards;
  animation-timeline: scroll();
  animation-range: 150vh 150vh;
}
@keyframes NavbarHidden {
  to {
    opacity: 0;
  }
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 100%;
}
nav li:first-child {
  font-family: "Major Mono Display", monospace;
  font-size: 2.5vw;
  color: white;
  cursor: pointer;
  /* margin: 0 1vw; */
}

nav a {
  height: 100%;
  padding: 0 0.7vw;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
/* nav a:hover {
  background-color: aliceblue;
} */
nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 50vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(76, 3, 3);
  backdrop-filter: blur(100px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin-top: 2vh; */
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
#search {
  position: fixed;
  top: 15vh;
  right: 20vw;
  height: 10vh;
  width: 50vw;
  z-index: 100;
  background: rgb(199, 194, 194);
  color: #eee;
  backdrop-filter: blur(100px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* transition: all ease-in 2s; */
}
#Cart {
  position: fixed;
  top: 0;
  right: -5vw;
  height: 95vh;
  width: 25vw;
  z-index: 100;
  /* background: #8800FF; */
  background: rgb(15, 14, 14);
  color: #eee;
  backdrop-filter: blur(100px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* transition: all ease-in 2s; */
}
.cartName {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  /* background: #593e3e; */
}
.cartName h1 {
  width: 70%;
  text-align: center;
  font-size: 1.8vw;
}
.cartName button {
  /* width: 20%; */
  border: none;
  font-size: 3vw;
  background: transparent;
  color: #eee;
  cursor: pointer;
}
.cart-info {
  width: 100%;
  padding: 1vw;
}
.cart-items-show {
  display: flex;
  /* background: #eee; */
  /* background: black; */
  gap: 1vw;
  height: 58vh;
}
.cart-item-img {
  background: #1aae35;
  height: 6vw;
  width: 6vw;
}
.cart-item-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cart-product-info {
  line-height: 1.8vw;
  font-size: 1.1vw;
}
.cart-item-addon-btn {
  display: flex;
  border: 1px solid black;
  width: 5.5vw;
  /* background: red; */
  border: 1px solid #eee;
}
.cart-item-addon-btn button {
  border: none;
  outline: none;
  font-size: 1.5vw;
  padding: 0 0.5vw;
  width: 2.1vw;
  color: #eee;
  background: transparent;
}
.cart-item-addon-btn p {
  padding: 0 0.2vw;
}
/* #Cart:hover{
  right: 0;
  opacity: 100%;
} */

.subtotal-price {
  /* background-color: gainsboro; */
  padding: 1.1vw 1vw;
  font-size: 1.3vw;
}
.subtotal-price span {
  font-weight: bold;
}
#Cart hr {
  height: 1px;
  background: gray;
  border: none;
}
.view-cart-btn {
  width: 100%;
  padding: 1vw;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
}
.view-cart-btn button {
  padding: 0.8vw 5vw;
  border-radius: 0.3vw;
  border: none;
  color: #eee;
  background: #8800ff;
  font-size: 1.1vw;
  font-weight: 600;
}

nav li:last-child {
  display: none;
}

.dropbtn {
  /* background-color: #04aa6d; */

  /* font-family: "Poppins", sans-serif; */
  background: transparent;
  color: white;
  padding: 1vw 0;
  font-size: 1vw;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  /* display: none; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(49, 31, 31, 0.719);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-left: 0.5vw;
  border-radius: 10px;

  border: 1px solid rgba(255, 255, 255, 0.13);
}
.dropdown-content-last {
  right: 0;
}
.dropdown-content a {
  color: #eee;
  padding: 0.8vw 0.3vw;
  text-decoration: none;
  display: block;
  font-size: 1vw;
}

.dropdown-content a:hover {
  color: red;
  background: rgba(33, 9, 9, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  backdrop-filter: blur(1000px);
} */

/* for mobile */
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
  header {
    margin-top: 1vh;
    background-color: rgb(46, 12, 12);
  }
  nav {
    max-width: 95%;
  }
  nav li:first-child {
    font-size: 6vw;
  }
  .dropbtn {
    font-size: 6vw;
  }

  .sidebar {
    /* display: flex; */
    line-height: 1px;
  }

  .hideOnMobile {
    display: none;
  }
  nav li:last-child {
    display: block;
  }
}
@media (max-width: 350px) {
  .sidebar {
    width: 100%;
  }
}
