@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

#header {
  padding-top: 2vh;
}
header {
  width: 100%;
  max-width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 8vh;
  /* margin-top: 2vh; */
  background-color: transparent;
  position: relative;
  z-index: 100;
  justify-content: space-between;

  background: rgba(143, 61, 215, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.13);

  font-family: "Poppins", sans-serif;
}

header div:nth-child(1) {
  /* display: flex; */
  /* align-items: center; */
  /* background-color: red; */
}
/* #logo a button {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-family: "Major Mono Display", monospace;
  font-size: 2.5vw;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 1vw;
} */

/* header a {
  text-decoration: none;
  color: white;
  margin: 0 1vw;
  font-size: 1vw;
  position: relative;
} */

.dropbtn {
  /* background-color: #04aa6d; */
  background: transparent;
  color: white;
  padding: 1vw;
  font-size: 1vw;
  border: none;
}

.dropdown {
  position: relative;
  display:inline-block;
  /* display: none; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 1vw;
  padding-left:.5vw;

}

.dropdown-content a {
  color: black;
  /* padding: 12px 6px; */
  padding: .6vw .3vw;
  text-decoration: none;
  display: block;
  font-size: 1vw;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  backdrop-filter: blur(100px);
}


#menu{
  /* display: block; */
}



/* header div:nth-child(2) a:nth-child(1)::after,
header div:nth-child(2) a:nth-child(2)::after,
header div:nth-child(2) a:nth-child(3)::after,
header div:nth-child(2) a:nth-child(4)::after,
header div:nth-child(2) a:nth-child(5)::after {
  margin-top: 1.7vw;
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: #b00000;
  transition: all ease 1s;
}
header div:nth-child(2) a:nth-child(1):hover::after,
header div:nth-child(2) a:nth-child(2):hover::after,
header div:nth-child(2) a:nth-child(3):hover::after,
header div:nth-child(2) a:nth-child(4):hover::after,
header div:nth-child(2) a:nth-child(5):hover::after {
  width: 100%;
} */
