@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
#homeBTN {
  position: absolute;
  top: 5%;
  left: 5%;
  background: #ff602680;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-size: 1.5vw;
  padding: 0.8vw 1.8vw;
  border-radius: 1.5vw;
}
#homeBTN a{
  color: black;
  text-decoration: none;
}
#login21 {
  font-family: "Montserrat", sans-serif;
  background-color: #333;
  background-image: url(../Images/Slider/bg2.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 10vh;
  /* margin-top: -10vh; */
}
#login21-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  max-width: 85%;
}

#login21 h1 {
  font-weight: bold;
  margin: 0;
}

#login21 p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

#login21 span {
  font-size: 12px;
}

#login21 a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.login2 {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

#login21 .form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#login21 .social-container {
  margin: 20px 0;
}

#login21 .social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  font-size: 20px;
}

#login21 .form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

#login21 button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: orangered;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

#login21 button:active {
  transform: scale(0.95);
}

#login21 button:focus {
  outline: none;
}

#login21 button.ghost {
  background: transparent;
  border-color: #fff;
}

#login21 .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: #ff416c;
  background: linear-gradient(to right, orangered, rgb(255, 113, 61)) no-repeat
    0 0 / cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateY(0);
}

.overlay-left {
  transform: translateY(-20%);
}

/* Move signin to right */
.login2.right-panel-active .sign-in-container {
  transform: translateY(100%);
}

/* Move overlay to left */
.login2.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Bring signup over signin */
.login2.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay back to right */
.login2.right-panel-active .overlay {
  transform: translateX(50%);
}

/* Bring back the text to center */
.login2.right-panel-active .overlay-left {
  transform: translateY(0);
}

/* Same effect for right */
.login2.right-panel-active .overlay-right {
  transform: translateY(20%);
}

#login21 .footer {
  margin-top: 25px;
  text-align: center;
}

#login21 .icons {
  display: flex;
  width: 40px;
  height: 40px;
  letter-spacing: 15px;
  align-items: center;
}
#login21 .icons a {
  font-size: 18px;
}

@media (max-width: 600px) {
  .sign-in-container {
    width: 100%;
  }
  .sign-up-container {
    display: none;
  }
  .overlay {
    display: none;
  }
  .overlay-right {
    display: none;
  }
}
