.main {
  font-family: Poppins;
  background-color: black;
  height: 100vh;
  margin-top: -10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.card {
  /* display: none; */
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 22px;
  transition: all 0.3s;
  margin-top: 10vh;
}

.card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}
.form {
  height: 80vh;
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
}

#heading {
  text-align: center;
  margin: 7vh 0;
  color: rgb(255, 255, 255);
  font-size: 2.5em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.9em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
  font-size: 1em;
}

.form .btn-forgot {
  display: flex;
  justify-content: right;
}
.button1 {
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.button1:hover {
  color: white;
}

.form .btn {
  display: flex;
  justify-content: center;
}
.button2 {
  width: 80%;
  padding: 0.7em 1em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
  cursor: pointer;
}

.button2:hover {
  background-color: rgb(19, 171, 42);
  color: white;
}

/* 2nd scocial media*/
.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
  padding: 0.3em 0;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}
.social-icons .icon svg:hover {
  height: 1.25rem;
  width: 1.25rem;
  fill: #3704fd;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}
.signup a {
  color: #06e384;
}
.signup a:hover {
  color: rgb(172, 35, 222);
}
